.contact {
    h1{
        font-size: 16px;
        font-family: 'Overpass Bold', sans-serif;
    }
    h2 {
        font-size: 16px;
    }
}

.envelopeIcon{
    font-size: 32px;
    color: var(--core-primary);
    padding-right: 8px;
}

.mailSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
}

.link {
    color: light-dark(--core-text);
    text-decoration: underline black;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    width: 100%;

    label {
        text-align: right;
        padding: 0.5em;
    }

    input, textarea, button {
        padding: 0.5em;
        border-radius: 0.5em;
        background-color: light-dark(#fffe, #fff3);
        font-size: inherit;
    }

    textarea {
        min-height: 8em;
        font-family: inherit;
        font-size: inherit;
    }

    button {
        grid-column: 2;
        background-color: var(--medium-blue);
    }
}

@media screen and (min-width: 768px) {
    .contact {
        p, h1, h2, a {
            font-size: 20px;
        }
    }
    .mailSection{
        justify-content: center;
    }
}
