/* overpass-medium */
@font-face {
  font-display: swap;
  font-family: 'Overpass Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Overpass-Medium.ttf') format('ttf');
}

body {
  margin: 0;
  font-family: 'Overpass Medium', sans-serif;
  font-weight: 300;
}

