/* rubik-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Rubik Light';
  font-style: normal;
  font-weight: light;
  src: url('./assets/fonts/rubik-v23-latin-300.woff2') format('woff2'),
      url('./assets/fonts/rubik-v23-latin-300.woff') format('woff');
}

/* rubik-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Rubik Normal';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/rubik-v23-latin-regular.woff2') format('woff2'),
      url('./assets/fonts/rubik-v23-latin-regular.woff') format('woff');
}

/* rubik-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Rubik Medium';
  font-style: normal;
  font-weight: medium;
  src: url('./assets/fonts/rubik-v23-latin-500.woff2') format('woff2'),
      url('./assets/fonts/rubik-v23-latin-500.woff') format('woff');
}

/* rubik-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Rubik Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/rubik-v23-latin-700.woff2') format('woff2'),
      url('./assets/fonts/rubik-v23-latin-700.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Rubik Normal', sans-serif;
}
