/* rubik-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik Light';
    font-style: normal;
    font-weight: light;
    src: url('../assets/fonts/rubik-v23-latin-300.woff2') format('woff2'),
        url('../assets/fonts/rubik-v23-latin-300.woff') format('woff');
}

/* rubik-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik Normal';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/rubik-v23-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/rubik-v23-latin-regular.woff') format('woff');
}

/* rubik-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik Medium';
    font-style: normal;
    font-weight: medium;
    src: url('../assets/fonts/rubik-v23-latin-500.woff2') format('woff2'),
        url('../assets/fonts/rubik-v23-latin-500.woff') format('woff');
}

/* rubik-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/rubik-v23-latin-700.woff2') format('woff2'),
        url('../assets/fonts/rubik-v23-latin-700.woff') format('woff');
}


body {
    font-family: 'Rubik Light', sans-serif;
}

/* navbar */
nav {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 30px 20% 30px 20%;
}

nav li a {
    color: black;
    font-size: 28px;
    font-family: 'Rubik Bold';
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

/* main */
main {
    display: flex;
    flex-direction: column;
}

/* title section */
#title-section {
    min-height: calc(100vh - 125.5px);
    padding-top: 125.5px;
}

.title {
    font-family: 'Rubik Bold';
    font-size: 120px;
    margin-bottom: 30px;
}

.subtitle {
    font-family: 'Rubik Normal';
    font-size: 56px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -150px;
}

.alli-logo {
    margin-top: 30px; 
    width: 150px;
    height: 150px;
}

/* sections */
section * {
    text-align: center;
}

section {
    padding: 125.5px 15% 10px 15%;
}

h2 {
    font-family: 'Rubik Bold';
    font-size: 28px;
}

p {
    font-size: 32px;
}

/* footer */
footer {
    text-align: center;
    align-items: center;
    padding: 125.5px 20px 50px 20px;
}

footer h2 {
    font-size: 16px;
    padding-bottom: 10px;
}

.fundings> :not(:first-child) {
    padding-left: 100px;
}

/* contact section */
#contact-section .button-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#contact-section {
    display: flex;
    flex-direction: column;
}

.btn i {
    font-size: 48px;
    text-decoration: none;
    color: black;
    padding: 30px;
    margin: 30px;
    border-radius: 50%;
    background-color: #9ACEDA;
}

/* media queries */
@media (max-width: 992px) {

    nav ul {
        padding: 30px 10% 30px 10%;
    }

    nav li a {
        font-size: 24px;
    }

    /* title section */
    #title-section {
        padding-top: 120.5px;
    }

    .title {
        font-size: 80px;
    }
    .title-container {
        margin-left: -100px;
    }
    
    .alli-logo {
        width: 100px;
        height: 100px;
    }

    .subtitle {
        font-size: 48px;
    }

    section {
        padding: 120.5px 10% 10px 10%;
        margin-bottom: -60px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 24px;
    }


}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    #title-section {
        padding-top: 50px;
        margin-bottom: -40px;
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 40px;
    }

    .title-container {
        margin-left: -75px;
    }
    
    .alli-logo {
        width: 75px;
        height: 75px;
    }

    .btn i {
        font-size: 40px;
        padding: 20px;
        margin: 20px;
    }

    section {
        padding: 80px 10% 10px 10%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 24px;
    }

    .fundings> :not(:first-child) {
        padding-left: 0
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 24px;
    }

    .title-container {
        margin-left: -50px;
    }
    
    .alli-logo {
        width: 60px;
        height: 60px;
    }

    .btn i {
        font-size: 32px;
        padding: 15px;
        margin: 15px;
    }

    section {
        padding: 80px 10% 10px 10%;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    footer h2 {
        padding-bottom: 0;
    }

}